---
import Welcome from "../components/Welcome.astro";
import Search from "../components/Search.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="grid min-vh-100">
    <Welcome />

    <Search />
  </main>
</Layout>